{{!-- <header>
      <div class='header-container'>
        <div class='header-left'>
          <img src='/images/clown.png' id='clown' />
          <h1 id='header-text'>CLOWNING AROUND Inc.</h1>
        </div>
        <div class='header-right' id='buttonContainer'>
          {{#if loggedIn}}
            <a href='/profile'>
              <button id='profileButton'>Profile</button>
            </a>
            <button id='logoutButton'>Logout</button>
            <button
              id='postJobButton'
              style='display: none'
              onclick='openPostJobModal()'
            >Post a New Job</button>
          {{else}}
            <button id='loginButton' onclick='openModal()'>Login</button>
            <button
              id='registerButton'
              onclick='openRegisterModal()'
            >Register</button>
          {{/if}}
        </div>
      </div>
    </header> --}}

<section class='profileContainerLeft'>
  {{#each posts as |post|}} 

    <div class='profileJobListing'>
      <h3>
        <a id='post-title' href='/posts/{{post.id}}'>{{post.jobTitle}}</a>
        <p>TEST</p>
      </h3>
    </div>
  {{/each}}
</section>

{{!-- <section class="profileContainerRight">
    {{#each users as|user|}}
    <div class="profileUserInfo">
        </div>

        {{/each}}
</section> --}}

<footer>
  <p>&copy; 2024 Job Board</p>
</footer>

<div id='profileModal' class='modal'>
      <div class='modal-content'>
        <span class='close' onclick='closeProfileModal()'>&times;</span>
        <h2>Register</h2>
        <form id='profileForm'>
          <label for='companyName'>Company Name:</label>
          <input type='text' id='companyName' name='companyName' required />

          <label for='postcode'>Postcode:</label>
          <input type='text' id='postcode' name='postcode' required />

          <label for='companyName'>Town:</label>
          <input type='text' id='companyName' name='townName' required />

          <label for='postcode'>Region:</label>
          <input type='text' id='regionName' name='regionName' required />

          <label for='email'>Email:</label>
          <input type='email' id='email' name='email' required />
          <div class='button-container'>
            <button type='submit' class='profile-button'>Submit</button>
            <button
              type='button'
              class='profile-button'
              onclick='closeProfileModal()'
            >Cancel</button>
          </div>
        </form>
      </div>
    </div>