<div class="profileContainer">
  <section class="profileContainerLeft">
    {{#each posts as |post|}}
      <div class="profileJobListing">
        <h3><a id="post-title" href="/posts/{{post.id}}">{{post.jobTitle}}</a></h3>
      </div>
    {{/each}}
  </section>

  <section class="profileContainerRight">
    {{#each posts as |post|}}
      <div class="profileJobListing">
        <h3><a id="post-title" href="/posts/{{post.id}}">{{post.jobTitle}}</a></h3>
      </div>
    {{/each}}

    <button id="openProfileModal" onclick="openProfileModal()">Edit Profile</button>
  </section>
</div>

<footer>
  <p>&copy; 2024 Job Board</p>
</footer>