body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('/images/Circus_BG_main.jpeg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(6, 34, 28, 0.805);
}

.header-left {
    color: #fff;
    margin-left: 15px;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
}

.header-right {
    color: #fff;
    padding: 10px;
    text-align: right;
}

#clown {
    width: 50px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Add some margin for spacing */
}

#header-text {
    color: rgb(255, 255, 255);
    font-family: cursive;
}

.button {
    background-color: #612d22;
    color: white;
    border: solid 1px white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-family: cursive;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.container2 {
    max-width: 1000px;
    margin: 10px auto;
    padding: 175px;
    /* box-shadow: 100px 100px 100px 100px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('/images/Old_Scroll_PNG_Clipart.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
}

.job-listing {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.job-title {
    font-size: 1.2em;
    color: #333;
}

.job-company {
    color: #777;
}

.job-description {
    color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin-left: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This controlls where the modal sits in the screen -50% and -150% make it sit in the middle. */
}

.modal-content form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.modal-content form input,
.modal-content form textarea {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    max-width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Add styling for the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.register-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.register-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This controls where the modal sits in the screen -50% and -150% make it sit in the middle. */
}

.register-modal-content form label {
    display: block;
    margin-bottom: 5px;
}

.register-modal-content form input {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    max-width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.button-container {
    display: flex;
    justify-content: space-between;
  }


  #profileModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}


.profileContent form label {
    display: block;
    margin-bottom: 5px;
}

.ProfileModalContent form input {
    display: block;
    margin-bottom: 10px;
    margin-left: 5px;
    max-width: 100%; /* Set maximum width to 100% */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* styles.css */
.profileContainer {
    display: flex;
    min-height: 400px;
    height: auto;
    color: black;
    justify-content: space-around;
    align-items: stretch;
}

.profileContainerLeft,
.profileContainerRight {
    width: 48%;
    background-color: rgba(6, 34, 28, 0.805);
    color: rgb(255, 255, 255);
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    text-decoration: none;
}

.profileContainerLeft {
    margin-right: 15px; /* Adjust the margin for spacing between the two containers */
}

.profileUserListing,
.profileJobListing {
    width: 100%;
    /* background-color: rgba(6, 34, 6, 0.608); */
    color: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.profileBottomRight {
    width: 100%;
    /* background-color: rgba(6, 34, 6, 0.608); */
    color: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#openProfileModal {
    width: 50%; /* Make the Edit Profile button full-width */
    margin-top: 15px; /* Add some top margin for spacing */
}

/* All links in website will change from blue color with below settings */
a {
    color: white; /* Set your desired color */
    text-decoration: underline; /* Remove the default underline */
}

.applyContainer {
    display: flex;
    min-height: 400px;
    height: auto;
    background-color: rgba(6, 34, 28, 0.805);
    color: white;
    justify-content: space-around;
    align-items: stretch;
}
.apply-form > div {
    margin-bottom: 10px; /* Add space between elements in the form */
    margin-left: 10px;
}

.job-title {
    color: #fff;
    margin-left: 15px;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
} 

.delete-button {
    margin-left: auto;
    text-align: right; /* This will push the delete button to the right */
}